@use "sass:color";

// Variables related to .about, .bio, .currentFocus
$border-highlight: rgb(169, 30, 255);
$box-glow: rgb(0, 219, 248);
$deep-blue: rgba(13, 9, 46, 0.247);
$teal-shadow: rgb(2, 40, 51);

$text-color: white;
$text-shadow: 5px 3px 11px $teal-shadow;

$radius-xl: 30px;
$width-large: 70rem;
$font-lg: 1.5rem;

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: $text-color;
  text-shadow: $text-shadow;
  border: 2px solid $border-highlight;
  background-color: $deep-blue;
  box-shadow: 0px 1px 25px $box-glow;
  border-radius: $radius-xl;
  width: $width-large;
  margin: 1rem auto 16.5rem auto;
  font-size: $font-lg;
  padding-bottom: 2rem;

  @media only screen and (max-width: 390px) {
    width: 95%;
    margin: 3rem auto 0 auto;
  }

  .bio {
    margin-top: 2rem;
    width: 90%;
    padding-bottom: 0;

    @media only screen and (max-width: 390px) {
      margin-top: 1.5rem;
      font-size: 1rem;
      padding: 0 1rem;
    }
  }
}
